h1,
p {
  font-family: Lato;
}

.button-area {
  color: orange;
  background-color: orange;
  font-size: 28px;
}

.button {
  background-color: #4caf50; /* Green */
  border: 2px solid black;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
